{% extends 'base.html' %}

{% block contenido %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold">Lista de Prendas</h2>

    <a href="{% url 'crear_prenda' %}" class="btn btn-success">
        Nueva Prenda
    </a>
</div>

<div class="card shadow-sm border-0">
    <div class="card-body">
        <table class="table table-bordered table-hover align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Talla</th>
                    <th>Color</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for prenda in prendas %}
                <tr>
                    <td>{{ prenda.id }}</td>
                    <td>{{ prenda.nombre }}</td>
                    <td>{{ prenda.talla }}</td>
                    <td>{{ prenda.color }}</td>
                    <td>S/ {{ prenda.precio }}</td>
                    <td>
                        {% if prenda.imagen %}
                            <img src="{{ prenda.imagen.url }}" class="img-thumbnail" width="90">
                        {% else %}
                            Sin imagen
                        {% endif %}
                    </td>
                    <td>{{ prenda.categoria.nombre }}</td>
                    <td>
                        <a href="{% url 'editar_prenda' prenda.id %}" class="btn btn-warning btn-sm">
                            Editar
                        </a>

                        <a href="{% url 'eliminar_prenda' prenda.id %}" class="btn btn-danger btn-sm"
                           onclick="return confirm('¿Seguro que deseas eliminar esta prenda?')">
                            Eliminar
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">No hay prendas registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}